<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bcsaa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"

        >
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".DashBoadrParticipantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoardFacultyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassRoutineActivity"
            android:label="@string/title_activity_class_routine"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RoutineDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeeklyAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExamRoutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpekerEvalutionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeakerEvaluationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LectureUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PerticipantLeaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PerticipantAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeakerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddSpeakerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ParticipantLeaveApplicationAdd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

            <activity
                        android:name=".ParticipantLeaveApplicationActivity"
                        android:screenOrientation="portrait"
                        android:windowSoftInputMode="adjustPan" />


            <activity
                        android:name=".ManageLeaveListActivity"
                        android:screenOrientation="portrait"
                        android:windowSoftInputMode="adjustPan" />

         <activity
                                android:name=".OfficerListActivity"
                                android:screenOrientation="portrait"
                                android:windowSoftInputMode="adjustPan" />


         <activity
                                android:name=".DashboardHRActivity"
                                android:screenOrientation="portrait"
                                android:windowSoftInputMode="adjustPan" />


        <activity android:name=".ParticipantAddWeek"></activity>


    </application>

</manifest>